@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: 0 0% 12.5%;
  --white: 0 0% 100%;

  --accent: 207, 93%, 49%;
  --accent-secondary: 44, 31%, 68%;
  --success: 151, 55%, 42%;
  --error: 8, 73%, 54%;
  --warning: 33, 88%, 60%;

  --gray-50: 0 0% 96.5%;
  --gray-100: 0 0% 95.3%;
  --gray-200: 0 0% 91.4%;
  --gray-300: 0 0% 81.6%;
  --gray-400: 0 0% 73.3%;
  --gray-500: 0 0% 60.4%;
  --gray-600: 0 0% 42.4%;
  --gray-700: 0 0% 31%;
  --gray-800: 0 0% 21.2%;
  --gray-900: 0 0% 16.5%;
  --gray-1000: 0 0% 14.5%;

  --bg-primary: var(--white);
  --bg-inverse: var(--main);

  --text-primary: var(--main);
  --text-secondary: var(--gray-500);
  --text-tertiary: var(--gray-600);
  --text-inverse: var(--white);

  --border-primary: var(--gray-200);
  --border-secondary: var(--gray-300);

  --foreground-primary: var(--gray-100);
  --foreground-secondary: var(--gray-200);
  --foreground-tertiary: var(--gray-300);
  --foreground-accent: var(--accent);
  --foreground-accent-secondary: var(--accent-secondary);

  --icon-primary: var(--gray-500);
  --icon-accent-primary: var(--accent);
  --icon-inverse: var(--main);

  --swiper-navigation-size: 14px !important;
  --swiper-navigation-color: var(--gray-100) !important;
  --swiper-navigation-sides-offset: 10px;
}

.dark {
  --bg-primary: var(--main);
  --bg-inverse: var(--white);

  --text-primary: var(--white);
  --text-secondary: var(--gray-500);
  --text-tertiary: var(--gray-400);
  --text-inverse: var(--main);

  --border-primary: var(--gray-800);
  --border-secondary: var(--gray-700);

  --foreground-primary: var(--gray-1000);
  --foreground-secondary: var(--gray-900);
  --foreground-tertiary: var(--gray-800);

  --icon-primary: var(--gray-500);
  --icon-inverse: var(--white);

  --swiper-navigation-color: var(--gray-1000) !important;
}

@layer base {
  body {
    @apply bg-primary text-primary;
  }
}

@layer components {
  a,
  p {
    @apply text-lg;
  }

  h6 {
    @apply text-h6;
  }

  h5 {
    @apply text-h5;
  }

  h4 {
    @apply text-h4;
  }

  h3 {
    @apply text-h3;
  }

  h2 {
    @apply text-h2;
  }

  h1 {
    @apply text-h1;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .container-base {
    @apply mx-auto flex w-full flex-1 flex-col items-center gap-12 px-5;
  }

  .container-base > * {
    @apply w-full;
  }

  .container-xl {
    @apply container-base max-w-[1400px];
  }
  .container-lg {
    @apply container-base max-w-[900px];
  }

  .container-sm {
    @apply container-base max-w-[560px];
  }
  .container-plans {
    @apply container-base px-0 sm:px-8;
  }
}
